body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    background-color: #a6a6a4;
    font-family: 'Helvetica Neue';
    font-size: 1.3em;
    color:#212121;
    padding: 2px;
}
.calc-box, .totals-box {
    background-color: #eeecda;
    border: solid 3px #625261;
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}
h1 {
    color: #212121;
    font-size: 1.5em;
    text-decoration: underline;
}
p {
    color: #212121;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
}
input, select {
    background-color: whitesmoke;
    font-size: 1em;
    border-radius: 4px;
}
section {
    padding: 10px;
}